<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<p:dialog header="Add New Client" widgetVar="addClient">
		<h:form id="addClientFrom">
			<h:panelGrid>
				<p:messages id="messages" autoUpdate="true" showDetail="true"></p:messages>
			
				<h:outputText value="Name" />
				<p:inputText id="firstname" value="#{clientModel.currentClient.name}" required="true" requiredMessage="Name is required"/>
				
				<h:outputText value="Last Name" />
				<p:inputText id="lastName" value="#{clientModel.currentClient.lastName}" required="true" requiredMessage="Last name is required"/>
				
				<p:outputLabel for="birthday" value="Birthday:" />
   			     <p:calendar id="birthday" required="true" requiredMessage="Birthday date is required" value="#{clientModel.currentClient.birthday}" pattern="yyyy-MM-dd" mask="true" />
				
				<h:outputText value="Phone"/>
				<p:inputText id="phone" value="#{clientModel.currentClient.phone}" required="true" requiredMessage="Phone number is required"/>
				
				<p:outputLabel for="contract" value="Contract Date:" />
   			     <p:calendar id="contract" value="#{clientModel.currentClient.contractDate}" pattern="yyyy-MM-dd" mask="true" />
				
				<h:outputText value="City"/>
				<p:inputText id="city" value="#{clientModel.currentClient.city}"/>
				
				<h:outputText value="Address"/>
				<p:inputText id="address" value="#{clientModel.currentClient.address}"/>
				
			</h:panelGrid>
			<p:commandButton value="Save" update="@form mainForm" action="#{clientController.save}" oncomplete="if (args &amp;&amp; !args.validationFailed)"></p:commandButton>
			<p:commandButton value="Cancel" action="#{clientController.cancel}" update="@form mainForm" immediate="true" oncomplete="PF('addClient').hide();"></p:commandButton>
		</h:form>
	</p:dialog>
	
</ui:composition>