<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<p:dialog header="Add survey" widgetVar="addSurvey">
		<h:form id="addSurveyFrom">
			<h:panelGrid>
			
				<h:outputText value="How do you assess our company's services?" />
				<p:inputText id="serviceGrade" value="#{surveyModel.currentSurvey.companyServiceGrade}" validatorMessage="Grade number must be between 1 and 10" required="true">
					<f:validateDoubleRange minimum="1" maximum="10" for="serviceGrade"></f:validateDoubleRange>
				</p:inputText>
				<p:message for="serviceGrade"></p:message>
				
				<h:outputText value="Would you recommend our company to others?" />
				<p:inputText id="recommendGrade" value="#{surveyModel.currentSurvey.recomendationGrade}" validatorMessage="Grade number must be between 1 and 10" required="true">
					<f:validateDoubleRange minimum="1" maximum="10" for="recommendGrade"></f:validateDoubleRange>
				</p:inputText>
				<p:message for="recommendGrade"></p:message>
				
			</h:panelGrid>
			<p:commandButton value="Save" update="@form infoForm" action="#{surveyController.save}" oncomplete="if (args &amp;&amp; !args.validationFailed) PF('addSurvey').hide();"></p:commandButton>
			<p:commandButton value="Cancel" action="#{surveyController.cancel}" immediate="true" oncomplete="PF('addSurvey').hide();"></p:commandButton>
		</h:form>
	</p:dialog>
	
</ui:composition>