<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="content">
		<h:form id="infoForm">

			<p:commandButton value="Add survey"
				actionListener="#{surveyController.create()}" update="@form"
				oncomplete="PF('addSurvey').show();"></p:commandButton>

			<p:layout>
				<p:layoutUnit position="west" resizable="true" size="300">

					<p:panelGrid>
						<h4>Client Info:</h4>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel value="Client ID: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.id}"></h:outputText>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel value="Name: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.name}"></h:outputText>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel value="Last Name: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.lastName}"></h:outputText>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel value="Birthday: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.birthday}">
							<f:convertDateTime type="date" pattern="yyyy-MM-dd"></f:convertDateTime>
						</h:outputText>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel value="Phone: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.phone}"></h:outputText>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel value="Contract date: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.contractDate}">
							<f:convertDateTime type="date" pattern="yyyy-MM-dd"></f:convertDateTime>
						</h:outputText>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel value="City: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.city}"></h:outputText>
					</p:panelGrid>

					<p:panelGrid>
						<h:outputLabel value="Address: "></h:outputLabel>
						<h:outputText value="#{clientModel.currentClient.address}"></h:outputText>
					</p:panelGrid>

				</p:layoutUnit>

				<p:layoutUnit position="center">

					<p:panelGrid columns="8">
						<p:dataTable var="survey"
							value="#{surveyController.findClientSurveys(clientModel.currentClient.id)}">

							<p:column headerText="ID">
								<h:outputText value="#{survey.id}"></h:outputText>
							</p:column>

							<p:column headerText="How do you assess our company's services?">
								<h:outputText value="#{survey.companyServiceGrade}"></h:outputText>
							</p:column>

							<p:column headerText="Would you recommend our company to others?">
								<h:outputText value="#{survey.recomendationGrade}"></h:outputText>
							</p:column>

							<p:column headerText="Date filled">
								<h:outputText value="#{survey.survayFillDate}">
									<f:convertDateTime type="date" pattern="yyyy-MM-dd HH:mm:ss"></f:convertDateTime>
								</h:outputText>
							</p:column>

						</p:dataTable>
					</p:panelGrid>

				</p:layoutUnit>
			</p:layout>

		</h:form>

		<ui:include src="addSurvey.xhtml"></ui:include>

	</ui:define>
</ui:composition>