<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="content">
		<h:form id="estimateForm">

			<p:panelGrid>
				<h1>Estimate</h1>
			</p:panelGrid>

			<p:dataTable
				value="#{surveyController.calculateSurveysEstimates().entrySet()}"
				var="entry">
				<p:column headerText="Name">
					<h:outputText value="#{entry.key.name}"></h:outputText>
				</p:column>

				<p:column headerText="Last name">
					<h:outputText value="#{entry.key.lastName}"></h:outputText>
				</p:column>

				<p:column headerText="Average">
					<h:outputText value="#{entry.value}"></h:outputText>
				</p:column>

			</p:dataTable>

		</h:form>
		
		<p:chart type="bar" model="#{chartView.barModel}"/>


	</ui:define>
</ui:composition>