<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">

	<ui:define name="content">
	
	<h:form id="mainForm">
	
	<p:commandButton value="Add New Client" actionListener="#{clientController.create()}" update="@form" oncomplete="PF('addClient').show();"></p:commandButton>
	
	<p:dataTable var="client" value="#{clientController.findClients()}">
		
		<p:column headerText="ID">
			<h:outputText value="#{client.id}"></h:outputText>
		</p:column>
		
		<p:column headerText="Name">
			<h:commandLink actionListener="#{clientController.overview(client)}" action="clientInfo.xhtml" value="#{client.name}"></h:commandLink>
		</p:column>
		
		<p:column headerText="Last name">
			<h:outputText value="#{client.lastName}"></h:outputText>
		</p:column>
		
	</p:dataTable>
	
	</h:form>
	<ui:include src="addClient.xhtml"></ui:include>
	
	</ui:define>
</ui:composition>