<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jstl/core">
	
	<h:form>
	
	<p:tabMenu activeIndex="5">
		<p:menuitem value="Main page" actionListener="#{clientController.cancel}" action="main.xhtml?faces-redirect=true"></p:menuitem>
		<p:menuitem value="Estimates" action="estimates.xhtml?faces-redirect=true"></p:menuitem>
	</p:tabMenu>
	
	</h:form>
	
</ui:composition>